<p-menubar [model]="items">
    <ng-template #start>
        <h1><a routerLink="/">Sigae Lite</a> </h1>
    </ng-template>
    <ng-template #item let-item let-root="root">
        @if (isAuthenticated$ | async) {
            <p-button 
                [label]="item.label" 
                [routerLink]="item.url"
                class="transparent-btn"
                [icon]="item.icon">
            </p-button>
        }
    </ng-template>
    <ng-template #end>
        @if (isAuthenticated$ | async) {
          
          
          <p-button 
              label="Quit" 
              (onClick)="logout()" 
              class="transparent-btn"
              icon="pi pi-power-off">
          </p-button>

        } @else {

          <p-button 
              label="Login" 
              (onClick)="showLoginDialog()"
               class="transparent-btn">
          </p-button>

        }
    </ng-template>
</p-menubar>

<p-dialog #headless [modal]="true" [(visible)]="visible" [style]="{ width: '24.5rem', padding: '2.5rem', gap: '3.6875rem' }">
    <ng-template #headless>
        <div class="header-container"><h2>Login</h2></div>
        <sigae-lite-login
            (loggedUser)="hideLoginDialog($event)"
        ></sigae-lite-login>
    </ng-template>
</p-dialog>